# Import Package & Data

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
# import dataset
df = pd.read_csv('001-GrandSNBT-Dataset.csv',sep=';')
df

,RANKING,NAMA PESERTA,Pilihan 1,Pilihan 2,Pilihan 3,Pilihan 4,SKOR TRYOUT UTBK,KETERANGAN
0,1,CATRIONA EGALITA,KEDOKTERAN (UGM),KEDOKTERAN (UNAIR),KEDOKTERAN (UNDIP),KEDOKTERAN (UNS),809,LULUS PILIHAN 1
1,2,LEA ANNISA RAHMADHANTI MIANO,PSIKOLOGI (UGM),PSIKOLOGI (UNS),\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,809,LULUS PILIHAN 1
2,3,HALSA ROSMADANI JAIZATI RASYIDA,PERENCANAAN WILAYAH DAN KOTA (UGM),TEKNOLOGI PANGAN DAN HASIL PERTANIAN (UGM),GEOFISIKA (UGM),TEKNIK GEOLOGI (UGM),809,LULUS PILIHAN 1
3,4,AUDY RIZKIA YUANA,KEDOKTERAN (UGM),KEDOKTERAN (UNS),KEDOKTERAN (UNDIP),PENDIDIKAN DOKTER (UNSOED),809,LULUS PILIHAN 1
4,5,ARELLA SHAYNA MARITZA,ARSITEKTUR (UGM),PERENCANAAN WILAYAH DAN KOTA (UGM),TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,809,LULUS PILIHAN 1
...,...,...,...,...,...,...,...,...
13056,13057,BLITZDA ALUSJA,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,269,AYO BELAJAR LAGI
13057,13058,VELISA REIKA JUNITHA,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,269,AYO BELAJAR LAGI
13058,13059,ADINDA FATHIYAH HANANI,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,269,AYO BELAJAR LAGI
13059,13060,REVA REGINA PUTRI,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,269,AYO BELAJAR LAGI
13060,13061,FERDIAN BIMO,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,269,AYO BELAJAR LAGI

# Data Understanding

In [3]:
# data type
df.dtypes

RANKING              int64
NAMA PESERTA        object
Pilihan 1           object
Pilihan 2           object
Pilihan 3           object
Pilihan 4           object
SKOR TRYOUT UTBK     int64
KETERANGAN          object
dtype: object

In [4]:
# check missing value
df.isna().sum()

RANKING             0
NAMA PESERTA        0
Pilihan 1           0
Pilihan 2           0
Pilihan 3           0
Pilihan 4           0
SKOR TRYOUT UTBK    0
KETERANGAN          0
dtype: int64

In [5]:
# check duplicate
df.duplicated().any()

False

In [6]:
df.head()

,RANKING,NAMA PESERTA,Pilihan 1,Pilihan 2,Pilihan 3,Pilihan 4,SKOR TRYOUT UTBK,KETERANGAN
0,1,CATRIONA EGALITA,KEDOKTERAN (UGM),KEDOKTERAN (UNAIR),KEDOKTERAN (UNDIP),KEDOKTERAN (UNS),809,LULUS PILIHAN 1
1,2,LEA ANNISA RAHMADHANTI MIANO,PSIKOLOGI (UGM),PSIKOLOGI (UNS),\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,809,LULUS PILIHAN 1
2,3,HALSA ROSMADANI JAIZATI RASYIDA,PERENCANAAN WILAYAH DAN KOTA (UGM),TEKNOLOGI PANGAN DAN HASIL PERTANIAN (UGM),GEOFISIKA (UGM),TEKNIK GEOLOGI (UGM),809,LULUS PILIHAN 1
3,4,AUDY RIZKIA YUANA,KEDOKTERAN (UGM),KEDOKTERAN (UNS),KEDOKTERAN (UNDIP),PENDIDIKAN DOKTER (UNSOED),809,LULUS PILIHAN 1
4,5,ARELLA SHAYNA MARITZA,ARSITEKTUR (UGM),PERENCANAAN WILAYAH DAN KOTA (UGM),TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,TIDAK MEMILIH / TIDAK ADA DALAM PILIHAN,809,LULUS PILIHAN 1

In [7]:
# change format values 
df['NAMA PESERTA'] = df['NAMA PESERTA'].str.title() 
df['NAMA PESERTA']

0                       Catriona Egalita
1           Lea Annisa Rahmadhanti Miano
2        Halsa Rosmadani Jaizati Rasyida
3                      Audy Rizkia Yuana
4                  Arella Shayna Maritza
                      ...
13056                     Blitzda Alusja
13057               Velisa Reika Junitha
13058             Adinda Fathiyah Hanani
13059                  Reva Regina Putri
13060                       Ferdian Bimo
Name: NAMA PESERTA, Length: 13061, dtype: object

In [8]:
def getPTN(col_name): # function to split majoro (prodi) & university (univ/ptn)
    prodi = []
    ptn = []
    data = df[col_name]
    for d in data:
        x = d.rsplit(' (', 1)
        if len(x) == 1 :
            prodi.append('TIDAK MEMILIH')
            ptn.append('TIDAK MEMILIH')
        elif len(x) == 2:
            prodi.append(x[0])
            ptn.append(x[1][:-1])
        else:
            prodi.append(None)
            ptn.append(None)
    return prodi, ptn

In [9]:
# splitting data
pil1, ptn1 = getPTN('Pilihan 1')
pil2, ptn2 = getPTN('Pilihan 2')
pil3, ptn3 = getPTN('Pilihan 3')
pil4, ptn4 = getPTN('Pilihan 4')

In [10]:
# entered data

for p,c in zip([pil1, pil2, pil3, pil4],df.columns[2:6]):
    df[c] = p
    
df.head()

,RANKING,NAMA PESERTA,Pilihan 1,Pilihan 2,Pilihan 3,Pilihan 4,SKOR TRYOUT UTBK,KETERANGAN
0,1,Catriona Egalita,KEDOKTERAN,KEDOKTERAN,KEDOKTERAN,KEDOKTERAN,809,LULUS PILIHAN 1
1,2,Lea Annisa Rahmadhanti Miano,PSIKOLOGI,PSIKOLOGI,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,809,LULUS PILIHAN 1
2,3,Halsa Rosmadani Jaizati Rasyida,PERENCANAAN WILAYAH DAN KOTA,TEKNOLOGI PANGAN DAN HASIL PERTANIAN,GEOFISIKA,TEKNIK GEOLOGI,809,LULUS PILIHAN 1
3,4,Audy Rizkia Yuana,KEDOKTERAN,KEDOKTERAN,KEDOKTERAN,PENDIDIKAN DOKTER,809,LULUS PILIHAN 1
4,5,Arella Shayna Maritza,ARSITEKTUR,PERENCANAAN WILAYAH DAN KOTA,TIDAK MEMILIH,TIDAK MEMILIH,809,LULUS PILIHAN 1

In [11]:
df.rename(columns={'Pilihan 1':'Prodi 1',
          'Pilihan 2':'Prodi 2',
          'Pilihan 3':'Prodi 3',
          'Pilihan 4':'Prodi 4'}, inplace=True)
df.head()

,RANKING,NAMA PESERTA,Prodi 1,Prodi 2,Prodi 3,Prodi 4,SKOR TRYOUT UTBK,KETERANGAN
0,1,Catriona Egalita,KEDOKTERAN,KEDOKTERAN,KEDOKTERAN,KEDOKTERAN,809,LULUS PILIHAN 1
1,2,Lea Annisa Rahmadhanti Miano,PSIKOLOGI,PSIKOLOGI,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,809,LULUS PILIHAN 1
2,3,Halsa Rosmadani Jaizati Rasyida,PERENCANAAN WILAYAH DAN KOTA,TEKNOLOGI PANGAN DAN HASIL PERTANIAN,GEOFISIKA,TEKNIK GEOLOGI,809,LULUS PILIHAN 1
3,4,Audy Rizkia Yuana,KEDOKTERAN,KEDOKTERAN,KEDOKTERAN,PENDIDIKAN DOKTER,809,LULUS PILIHAN 1
4,5,Arella Shayna Maritza,ARSITEKTUR,PERENCANAAN WILAYAH DAN KOTA,TIDAK MEMILIH,TIDAK MEMILIH,809,LULUS PILIHAN 1

In [12]:
a = 1
for i,u in zip(range(3,11,2),[ptn1, ptn2, ptn3,ptn4]):
    df.insert(i, f'Univ {a}', u)
    a += 1
df.head()

,RANKING,NAMA PESERTA,Prodi 1,Univ 1,Prodi 2,Univ 2,Prodi 3,Univ 3,Prodi 4,Univ 4,SKOR TRYOUT UTBK,KETERANGAN
0,1,Catriona Egalita,KEDOKTERAN,UGM,KEDOKTERAN,UNAIR,KEDOKTERAN,UNDIP,KEDOKTERAN,UNS,809,LULUS PILIHAN 1
1,2,Lea Annisa Rahmadhanti Miano,PSIKOLOGI,UGM,PSIKOLOGI,UNS,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,UPN V JAWA TIMUR,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,UPN V JAWA TIMUR,809,LULUS PILIHAN 1
2,3,Halsa Rosmadani Jaizati Rasyida,PERENCANAAN WILAYAH DAN KOTA,UGM,TEKNOLOGI PANGAN DAN HASIL PERTANIAN,UGM,GEOFISIKA,UGM,TEKNIK GEOLOGI,UGM,809,LULUS PILIHAN 1
3,4,Audy Rizkia Yuana,KEDOKTERAN,UGM,KEDOKTERAN,UNS,KEDOKTERAN,UNDIP,PENDIDIKAN DOKTER,UNSOED,809,LULUS PILIHAN 1
4,5,Arella Shayna Maritza,ARSITEKTUR,UGM,PERENCANAAN WILAYAH DAN KOTA,UGM,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,809,LULUS PILIHAN 1

### here we decided to make grade by score (SKOR TRYOUT UTBK)

###### < 450 grade C
###### 451 - 600 grade B
###### 601 - 750 grade A
###### dan > 750 grade Superior

In [13]:
grade = pd.cut(df['SKOR TRYOUT UTBK'], 
               bins=[0,450,600,750,1000],
               labels=['C','B','A','Superior'])

In [14]:
col_index = df.columns.to_list().index('SKOR TRYOUT UTBK')
df.insert(col_index + 1,'GRADE',grade)

In [15]:
df.head()

,RANKING,NAMA PESERTA,Prodi 1,Univ 1,Prodi 2,Univ 2,Prodi 3,Univ 3,Prodi 4,Univ 4,SKOR TRYOUT UTBK,GRADE,KETERANGAN
0,1,Catriona Egalita,KEDOKTERAN,UGM,KEDOKTERAN,UNAIR,KEDOKTERAN,UNDIP,KEDOKTERAN,UNS,809,Superior,LULUS PILIHAN 1
1,2,Lea Annisa Rahmadhanti Miano,PSIKOLOGI,UGM,PSIKOLOGI,UNS,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,UPN V JAWA TIMUR,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,UPN V JAWA TIMUR,809,Superior,LULUS PILIHAN 1
2,3,Halsa Rosmadani Jaizati Rasyida,PERENCANAAN WILAYAH DAN KOTA,UGM,TEKNOLOGI PANGAN DAN HASIL PERTANIAN,UGM,GEOFISIKA,UGM,TEKNIK GEOLOGI,UGM,809,Superior,LULUS PILIHAN 1
3,4,Audy Rizkia Yuana,KEDOKTERAN,UGM,KEDOKTERAN,UNS,KEDOKTERAN,UNDIP,PENDIDIKAN DOKTER,UNSOED,809,Superior,LULUS PILIHAN 1
4,5,Arella Shayna Maritza,ARSITEKTUR,UGM,PERENCANAAN WILAYAH DAN KOTA,UGM,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,809,Superior,LULUS PILIHAN 1

In [16]:
df.shape

(13061, 13)

In [17]:
df['RANKING'] = range(1,13062) # fix colum ranking for indexing

In [18]:
df.set_index('RANKING', inplace=True) # set new index
df

,NAMA PESERTA,Prodi 1,Univ 1,Prodi 2,Univ 2,Prodi 3,Univ 3,Prodi 4,Univ 4,SKOR TRYOUT UTBK,GRADE,KETERANGAN
RANKING,,,,,,,,,,,,
1,Catriona Egalita,KEDOKTERAN,UGM,KEDOKTERAN,UNAIR,KEDOKTERAN,UNDIP,KEDOKTERAN,UNS,809,Superior,LULUS PILIHAN 1
2,Lea Annisa Rahmadhanti Miano,PSIKOLOGI,UGM,PSIKOLOGI,UNS,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,UPN V JAWA TIMUR,\nBAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN P...,UPN V JAWA TIMUR,809,Superior,LULUS PILIHAN 1
3,Halsa Rosmadani Jaizati Rasyida,PERENCANAAN WILAYAH DAN KOTA,UGM,TEKNOLOGI PANGAN DAN HASIL PERTANIAN,UGM,GEOFISIKA,UGM,TEKNIK GEOLOGI,UGM,809,Superior,LULUS PILIHAN 1
4,Audy Rizkia Yuana,KEDOKTERAN,UGM,KEDOKTERAN,UNS,KEDOKTERAN,UNDIP,PENDIDIKAN DOKTER,UNSOED,809,Superior,LULUS PILIHAN 1
5,Arella Shayna Maritza,ARSITEKTUR,UGM,PERENCANAAN WILAYAH DAN KOTA,UGM,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,809,Superior,LULUS PILIHAN 1
...,...,...,...,...,...,...,...,...,...,...,...,...
13057,Blitzda Alusja,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI
13058,Velisa Reika Junitha,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI
13059,Adinda Fathiyah Hanani,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI
13060,Reva Regina Putri,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI
13061,Ferdian Bimo,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI

In [19]:
df.dtypes

NAMA PESERTA          object
Prodi 1               object
Univ 1                object
Prodi 2               object
Univ 2                object
Prodi 3               object
Univ 3                object
Prodi 4               object
Univ 4                object
SKOR TRYOUT UTBK       int64
GRADE               category
KETERANGAN            object
dtype: object

In [20]:
for c in df.select_dtypes(include=object).columns:
    df[c] = df[c].str.replace('\n','')

In [21]:
df

,NAMA PESERTA,Prodi 1,Univ 1,Prodi 2,Univ 2,Prodi 3,Univ 3,Prodi 4,Univ 4,SKOR TRYOUT UTBK,GRADE,KETERANGAN
RANKING,,,,,,,,,,,,
1,Catriona Egalita,KEDOKTERAN,UGM,KEDOKTERAN,UNAIR,KEDOKTERAN,UNDIP,KEDOKTERAN,UNS,809,Superior,LULUS PILIHAN 1
2,Lea Annisa Rahmadhanti Miano,PSIKOLOGI,UGM,PSIKOLOGI,UNS,BAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN PRO...,UPN V JAWA TIMUR,BAHASA INGGRIS UNTUK KOMUNIKASI BISNIS DAN PRO...,UPN V JAWA TIMUR,809,Superior,LULUS PILIHAN 1
3,Halsa Rosmadani Jaizati Rasyida,PERENCANAAN WILAYAH DAN KOTA,UGM,TEKNOLOGI PANGAN DAN HASIL PERTANIAN,UGM,GEOFISIKA,UGM,TEKNIK GEOLOGI,UGM,809,Superior,LULUS PILIHAN 1
4,Audy Rizkia Yuana,KEDOKTERAN,UGM,KEDOKTERAN,UNS,KEDOKTERAN,UNDIP,PENDIDIKAN DOKTER,UNSOED,809,Superior,LULUS PILIHAN 1
5,Arella Shayna Maritza,ARSITEKTUR,UGM,PERENCANAAN WILAYAH DAN KOTA,UGM,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,809,Superior,LULUS PILIHAN 1
...,...,...,...,...,...,...,...,...,...,...,...,...
13057,Blitzda Alusja,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI
13058,Velisa Reika Junitha,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI
13059,Adinda Fathiyah Hanani,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI
13060,Reva Regina Putri,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI
13061,Ferdian Bimo,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,TIDAK MEMILIH,269,C,AYO BELAJAR LAGI

In [22]:
# save data to csv
df.to_csv('GrandSNBT-cleaned.csv',index=True)